<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style3.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome <%= name %></p>
    <div class="select_shop"><%- select_shop %></div>
    
    <hr>
    <div class="product-table"><%- table_string %></div>
    </body>
</html>
